.logoutBtn {
  background: #232323;
  color: #f9d923;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 700;
  padding: 9px 22px;
  margin-left: 18px;
  cursor: pointer;
  box-shadow: 0 2px 8px #0005;
  transition: background .2s, color .2s;
}
.logoutBtn:hover {
  background: #f9d923;
  color: #181818;
}
